body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #1A2333, #2A344D);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    margin-top: 20px;
    margin-bottom: 40px;
}

header .logo {
    width: 150px;
}

header h1 {
    font-size: 3em;
    margin: 10px 0 0 0;
    color: #00A3E0;
}

header p {
    font-size: 1.2em;
    margin: 5px 0 20px 0;
    color: #FFFFFF;
}

#add-preset-btn {
    background-color: #00A3E0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#add-preset-btn:hover {
    background-color: #0066CC;
}

#presets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-bottom: 40px;
}

.preset {
    background-color: #333333;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.preset img {
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.preset h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.preset p {
    font-size: 1.2em;
    margin: 5px 0;
}

.preset button {
    background-color: #00A3E0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.preset button:hover {
    background-color: #0066CC;
}

#about {
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}
